<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Score Chart!</h2>
    <ul>
      <% for (var row in chart) { %>
        <li><%= row %>: <%= chart[row] %></li>
      <% } %>
    </ul>
    <%- include('./_nav') %>
  </body>
</html>
