<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Word Scored!</h2>
    <strong><%= word %></strong>: <%= score %> points.
    <%- include('./_nav') %>
    <pre>
      <%= JSON.stringify(result) %>
    </pre>
  </body>
</html>
